build
certifi
charset-normalizer
click
colorama
dacite
ftfy
idna
joblib
langcodes
msgpack
nltk
packaging
pip-tools
pyenchant
pyproject_hooks
PyYAML
readchar
regex
requests
tqdm
urllib3
wcwidth
wordfreq